---
const title = Astro.props.title ?? `jojobii`;
---

<style>
  body {
    @apply bg-slate-700;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta property="og:site_name" content="jojobii's links 🔗" />
    <meta property="og:title" content={title} />
    <meta property="og:url" content="https://jojobii.arks.moe" />

    <meta
      property="og:image"
      content="https://files.mk.arks.cafe/data/5dd936b9-edd8-48b9-8944-2c3d61d90530.png"
    />
    <meta name="twitter:card" content="summary" />
  </head>
  <body>
    <slot />
  </body>
</html>
